@tailwind base;
@tailwind components;
@tailwind utilities;

<<<<<<< HEAD
.center {
    width: 70%;
    margin-left: 70px;

}

.title {
=======
.center{
    width: 70%;
    margin-left: 50px;
}

.title{
>>>>>>> 96875d133b898af3a4b24148f03235bd5cf5aa85
    font-size: 50px;
    font-weight: bold;
    line-height: normal;
}

<<<<<<< HEAD
.child {
    padding: 20px;
}

.text {
    font-size: small;
}

.form {
=======
.child{
    padding: 20px;
}

.text{
    font-size: small;
}

.form{
>>>>>>> 96875d133b898af3a4b24148f03235bd5cf5aa85
    display: grid;
    place-items: center;
    width: 100%;
}

<<<<<<< HEAD
.input_box {
=======
.input_box{
>>>>>>> 96875d133b898af3a4b24148f03235bd5cf5aa85
    width: 100%;
    margin-top: 10px;
}

<<<<<<< HEAD
section {
    background-color: white;
}

.input-container {
=======
.input-container{
>>>>>>> 96875d133b898af3a4b24148f03235bd5cf5aa85
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

<<<<<<< HEAD
.left-form,
.right-form {
    width: 50%;
    height: 100%;
}

.textArea {
    height: 200px;
}

.descri {
=======
.left-form, .right-form{
    width: 50%;
    height: 100%;
}
.textArea{
    height: 200px;
}
.descri{
>>>>>>> 96875d133b898af3a4b24148f03235bd5cf5aa85
    width: 100%;
    height: 100% !important;
}

<<<<<<< HEAD
.taille {
=======
.taille{
>>>>>>> 96875d133b898af3a4b24148f03235bd5cf5aa85
    margin-top: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

<<<<<<< HEAD
.success {
=======
.success{
>>>>>>> 96875d133b898af3a4b24148f03235bd5cf5aa85
    width: 50px;
    height: 50px;
    background-color: rgb(72, 222, 72);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

<<<<<<< HEAD
.icon {
=======
.icon{
>>>>>>> 96875d133b898af3a4b24148f03235bd5cf5aa85
    font-weight: bold;
    font-size: medium;
}

<<<<<<< HEAD
.error {
=======
.error{
>>>>>>> 96875d133b898af3a4b24148f03235bd5cf5aa85
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
<<<<<<< HEAD
}
=======
}
>>>>>>> 96875d133b898af3a4b24148f03235bd5cf5aa85
